body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {

    box-sizing: border-box;
    width: 16rem;
    height: 24rem;
    border: white solid 0.5rem;
    background-color: #fcfcfc;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

}


.card .top {
    align-self: flex-start;
}

.card .bottom {
    align-self: flex-end;
    transform: rotate(180deg);
}

.card p {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    text-align: center;
}

.card p + p {
    font-size: 1rem;
}

.card .middle p {
    font-size: 4rem;
}
